<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Поиск рецепта</title>
</head>
<body>
<div>
    <form th:action="@{/recipe/search/name}">
        Поиск:
        <input type="text" name ="name" required/>
        &nbsp;
        <input type="submit" value="Поиск по названию"/>
        &nbsp;
    </form>
</div>

        <table>
            <tr>
                <th>Название</th>
                <th>Вид блюда</th>
                <th>Описание приготовления</th>
                <th>Время приготовления</th>
                <th>Белки</th>
                <th>Жиры</th>
                <th>Углеводы</th>
                <th>Калории</th>
                <th>Питательность</th>
                <th>Автор</th>

            </tr>

            <p th:each="el : ${recipe}">
                <tr>
                    <td th:text="${el.getName()}"></td>
                    <td th:text="${el.getTypeDish()}"></td>
                    <td th:text="${el.getDescription()}"></td>
                    <td th:text="${el.getTime()}"></td>
                    <td th:text="${el.getProtein()}"></td>
                    <td th:text="${el.getFat()}"></td>
                    <td th:text="${el.getCarbohydrate()}"></td>
                    <td th:text="${el.getCalorie()}"></td>
                    <td th:text="${el.getValue()}"></td>
<!--                    <td th:text="${el.getOwner()}"></td>-->
                    <!--            <td><a th:href="@{/film/{id}(id=${el.getID()})}" th:text="${el.getName()}"></a></td>-->
                    <!--            <td> <a th:href="@{film/{id}/edit (id=${el.getID()}) }">Edit</a> </td>-->
                </tr>
            </p>
        </table>
    </div>
</form>

</body>
</html>