<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Рецепты</title>
</head>
<body>

<h1>Поиск рецептов</h1>
<a href="/recipe/searchN">Поиск по названию</a>
<br/>
<a href="/recipe/seacrhI">Поиск по ингредиентам</a>
<br/>
<table>
    <tr>
        <th>Название блюда</th>
        <th>Тип блюда</th>
        <th>Описание приготовления</th>
        <th>Время приготовления</th>
    </tr>
<!--    <p th:each="r: ${recipe}">-->
<!--    <tr>-->
<!--        <td th:text="${r.name}"></td>-->
<!--        <td th:text="${r.}"></td>-->
<!--    </tr>-->
<!--    </p>-->
</table>
</body>
</html>